## Unsupervised ML

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
### here in this file I am just going around and see all the unsupervised ml algos
### and their behaviour

### loading the data

In [26]:
df = pd.read_csv('../data/fraud-detection-cleaned.csv')
df.head()

,Unnamed: 0,Account_Balance,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Age,Transaction_Distance,Risk_Score,Is_Weekend,Fraud_Label,...,merchant_Groceries,merchant_Restaurants,merchant_Travel,auth_method_Biometric,auth_method_OTP,auth_method_PIN,card_type_Amex,card_type_Discover,card_type_Visa,Transaction_Amount_boxcox
0,0,93213.17,7,437.63,3,65,883.17,0.8494,0,0,...,0,0,1,1,0,0,1,0,0,5.917374
1,1,75725.25,13,478.76,4,186,2203.36,0.0959,0,1,...,0,0,0,0,0,0,0,0,0,0.860767
2,2,1588.96,14,50.01,4,226,1909.29,0.8400,0,1,...,0,1,0,1,0,0,0,0,1,5.205741
3,3,76807.20,8,182.48,4,76,1311.86,0.7935,0,1,...,0,0,0,0,1,0,0,0,1,11.399354
4,4,92354.66,14,328.69,4,140,966.98,0.3819,1,1,...,0,0,0,0,0,0,0,0,0,5.373048

In [27]:
df.drop(['Unnamed: 0', 'Fraud_Label'], axis = 1, inplace = True)
df.head()

,Account_Balance,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Age,Transaction_Distance,Risk_Score,Is_Weekend,transaction_type_ATM Withdrawal,transaction_type_Online,...,merchant_Groceries,merchant_Restaurants,merchant_Travel,auth_method_Biometric,auth_method_OTP,auth_method_PIN,card_type_Amex,card_type_Discover,card_type_Visa,Transaction_Amount_boxcox
0,93213.17,7,437.63,3,65,883.17,0.8494,0,0,0,...,0,0,1,1,0,0,1,0,0,5.917374
1,75725.25,13,478.76,4,186,2203.36,0.0959,0,0,0,...,0,0,0,0,0,0,0,0,0,0.860767
2,1588.96,14,50.01,4,226,1909.29,0.8400,0,0,1,...,0,1,0,1,0,0,0,0,1,5.205741
3,76807.20,8,182.48,4,76,1311.86,0.7935,0,1,0,...,0,0,0,0,1,0,0,0,1,11.399354
4,92354.66,14,328.69,4,140,966.98,0.3819,1,0,0,...,0,0,0,0,0,0,0,0,0,5.373048

### --------------------kmeans clustering-------------------------------

In [29]:
### the approach in k means clustering is to find the right number of centers using some clacualtions
### like wcss score, and elbow curve and then use the k means clustering

In [30]:
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [39]:
scaler = StandardScaler()
pca = PCA()

In [40]:
X_scaled = scaler.fit_transform(df)

In [41]:
X_pca = pca.fit_transform(X_scaled)

In [42]:
print(np.cumsum(pca.explained_variance_ratio_))

[0.05362382 0.10185973 0.1498896  0.19772002 0.24535378 0.29264706
 0.33971157 0.38481527 0.42974131 0.47445365 0.51890919 0.56326876
 0.60741726 0.64377925 0.67999311 0.71607437 0.75187057 0.78755184
 0.82312281 0.85852476 0.89372538 0.92845285 0.9463907  0.95845477
 0.9703675  0.98217362 0.99112276 1.        ]