## Algorithms testing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Loading the data(distance and tree based)

In [2]:
df_distance = pd.read_csv('../data/distance_based.csv')
df_distance.drop('Unnamed: 0', axis = 1, inplace = True)
df_distance.head()

,transaction_type_ATM Withdrawal,transaction_type_Online,transaction_type_POS,device_type_Laptop,device_type_Mobile,location_Mumbai,location_New York,location_Sydney,location_Tokyo,merchant_Electronics,...,Account_Balance,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Age,Transaction_Distance,Risk_Score,Is_Weekend,Transaction_Amount_boxcox,Fraud_Label
0,0,0,1,1,0,0,0,1,0,0,...,0.931806,7,0.872714,3,65,0.176595,0.8494,0,0.325913,0
1,0,0,0,0,1,0,1,0,0,0,...,0.756044,13,0.956653,4,186,0.440650,0.0959,0,0.047409,1
2,0,1,0,0,0,1,0,0,0,0,...,0.010940,14,0.081653,4,226,0.381832,0.8400,0,0.286719,1
3,1,0,0,0,0,0,1,0,0,0,...,0.766918,8,0.352000,4,76,0.262339,0.7935,0,0.627847,1
4,0,0,1,0,1,1,0,0,0,1,...,0.923178,14,0.650388,4,140,0.193358,0.3819,1,0.295933,1

In [3]:
df_trees = pd.read_csv('../data/trees_based.csv')
df_trees.drop('Unnamed: 0', axis = 1, inplace = True)
df_trees.head()

,transaction_type_ATM Withdrawal,transaction_type_Online,transaction_type_POS,device_type_Laptop,device_type_Mobile,location_Mumbai,location_New York,location_Sydney,location_Tokyo,merchant_Electronics,...,Account_Balance,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Age,Transaction_Distance,Risk_Score,Is_Weekend,Transaction_Amount_boxcox,Fraud_Label
0,0,0,1,1,0,0,0,1,0,0,...,93213.17,7,437.63,3,65,883.17,0.8494,0,5.917374,0
1,0,0,0,0,1,0,1,0,0,0,...,75725.25,13,478.76,4,186,2203.36,0.0959,0,0.860767,1
2,0,1,0,0,0,1,0,0,0,0,...,1588.96,14,50.01,4,226,1909.29,0.8400,0,5.205741,1
3,1,0,0,0,0,0,1,0,0,0,...,76807.20,8,182.48,4,76,1311.86,0.7935,0,11.399354,1
4,0,0,1,0,1,1,0,0,0,1,...,92354.66,14,328.69,4,140,966.98,0.3819,1,5.373048,1

### making the train and the test data respectively

In [4]:
X_tree = df_trees.drop('Fraud_Label', axis = 1)
X_distance = df_distance.drop('Fraud_Label', axis = 1)
y = df_distance['Fraud_Label']

In [6]:
X_tree.head()

,transaction_type_ATM Withdrawal,transaction_type_Online,transaction_type_POS,device_type_Laptop,device_type_Mobile,location_Mumbai,location_New York,location_Sydney,location_Tokyo,merchant_Electronics,...,card_type_Visa,Account_Balance,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Age,Transaction_Distance,Risk_Score,Is_Weekend,Transaction_Amount_boxcox
0,0,0,1,1,0,0,0,1,0,0,...,0,93213.17,7,437.63,3,65,883.17,0.8494,0,5.917374
1,0,0,0,0,1,0,1,0,0,0,...,0,75725.25,13,478.76,4,186,2203.36,0.0959,0,0.860767
2,0,1,0,0,0,1,0,0,0,0,...,1,1588.96,14,50.01,4,226,1909.29,0.8400,0,5.205741
3,1,0,0,0,0,0,1,0,0,0,...,1,76807.20,8,182.48,4,76,1311.86,0.7935,0,11.399354
4,0,0,1,0,1,1,0,0,0,1,...,0,92354.66,14,328.69,4,140,966.98,0.3819,1,5.373048

In [7]:
X_distance.head()

,transaction_type_ATM Withdrawal,transaction_type_Online,transaction_type_POS,device_type_Laptop,device_type_Mobile,location_Mumbai,location_New York,location_Sydney,location_Tokyo,merchant_Electronics,...,card_type_Visa,Account_Balance,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Age,Transaction_Distance,Risk_Score,Is_Weekend,Transaction_Amount_boxcox
0,0,0,1,1,0,0,0,1,0,0,...,0,0.931806,7,0.872714,3,65,0.176595,0.8494,0,0.325913
1,0,0,0,0,1,0,1,0,0,0,...,0,0.756044,13,0.956653,4,186,0.440650,0.0959,0,0.047409
2,0,1,0,0,0,1,0,0,0,0,...,1,0.010940,14,0.081653,4,226,0.381832,0.8400,0,0.286719
3,1,0,0,0,0,0,1,0,0,0,...,1,0.766918,8,0.352000,4,76,0.262339,0.7935,0,0.627847
4,0,0,1,0,1,1,0,0,0,1,...,0,0.923178,14,0.650388,4,140,0.193358,0.3819,1,0.295933

In [8]:
y.head()

0    0
1    1
2    1
3    1
4    1
Name: Fraud_Label, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train_distance, X_test_distance, y_train_distance, y_test_distance = train_test_split(X_distance, y, random_state = 42, test_size = 0.25)

In [10]:
X_train_tree, X_test_tree, y_train_tree, y_test_tree = train_test_split(X_tree, y, test_size = 0.25, random_state = 42)

In [11]:
print(f"{X_train_distance.shape} : {X_test_distance.shape} :: {y_train_distance.shape} : {y_test_distance.shape}")

(37500, 28) : (12500, 28) :: (37500,) : (12500,)

In [12]:
print(f"{X_train_tree.shape} : {X_test_tree.shape} :: {y_train_tree.shape} : {y_test_tree.shape}")

(37500, 28) : (12500, 28) :: (37500,) : (12500,)

### writing the general algorithm and metrices and plot functions