## FE&EDA - 2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
### here my appraoch is two split 2 types of data on the pre cleaned data
### to apply the transformations on the numeric features for the distance based algos like linear regression and then
### make the predictions

### loading the data

In [3]:
df = pd.read_csv('../data/fraud-detection-cleaned.csv')
df.head()

,Unnamed: 0,Account_Balance,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Age,Transaction_Distance,Risk_Score,Is_Weekend,Fraud_Label,...,merchant_Groceries,merchant_Restaurants,merchant_Travel,auth_method_Biometric,auth_method_OTP,auth_method_PIN,card_type_Amex,card_type_Discover,card_type_Visa,Transaction_Amount_boxcox
0,0,93213.17,7,437.63,3,65,883.17,0.8494,0,0,...,0,0,1,1,0,0,1,0,0,5.917374
1,1,75725.25,13,478.76,4,186,2203.36,0.0959,0,1,...,0,0,0,0,0,0,0,0,0,0.860767
2,2,1588.96,14,50.01,4,226,1909.29,0.8400,0,1,...,0,1,0,1,0,0,0,0,1,5.205741
3,3,76807.20,8,182.48,4,76,1311.86,0.7935,0,1,...,0,0,0,0,1,0,0,0,1,11.399354
4,4,92354.66,14,328.69,4,140,966.98,0.3819,1,1,...,0,0,0,0,0,0,0,0,0,5.373048

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       50000 non-null  int64
 1   Account_Balance                  50000 non-null  float64
 2   Daily_Transaction_Count          50000 non-null  int64
 3   Avg_Transaction_Amount_7d        50000 non-null  float64
 4   Failed_Transaction_Count_7d      50000 non-null  int64
 5   Card_Age                         50000 non-null  int64
 6   Transaction_Distance             50000 non-null  float64
 7   Risk_Score                       50000 non-null  float64
 8   Is_Weekend                       50000 non-null  int64
 9   Fraud_Label                      50000 non-null  int64
 10  transaction_type_ATM Withdrawal  50000 non-null  int64
 11  transaction_type_Online          50000 non-null  int64
 12  transaction_type_POS             50000 non-null  int64
 13  device_type_Laptop               50000 non-null  int64
 14  device_type_Mobile               50000 non-null  int64
 15  location_Mumbai                  50000 non-null  int64
 16  location_New York                50000 non-null  int64
 17  location_Sydney                  50000 non-null  int64
 18  location_Tokyo                   50000 non-null  int64
 19  merchant_Electronics             50000 non-null  int64
 20  merchant_Groceries               50000 non-null  int64
 21  merchant_Restaurants             50000 non-null  int64
 22  merchant_Travel                  50000 non-null  int64
 23  auth_method_Biometric            50000 non-null  int64
 24  auth_method_OTP                  50000 non-null  int64
 25  auth_method_PIN                  50000 non-null  int64
 26  card_type_Amex                   50000 non-null  int64
 27  card_type_Discover               50000 non-null  int64
 28  card_type_Visa                   50000 non-null  int64
 29  Transaction_Amount_boxcox        50000 non-null  float64
dtypes: float64(5), int64(25)
memory usage: 11.4 MB